-e git+https://github.com/Rapptz/discord.py@master#egg=master
aiohttp
websockets
praw
psutil
-e git+https://github.com/Gorialis/jishaku@master#egg=jishaku
-e git+https://github.com/PythonistaGuild/buttons#egg=master
